[submodule "tools/refer"]
	path = tools/refer
	url = https://github.com/lichengunc/refer.git
[submodule "apex"]
	path = apex
	url = https://github.com/NVIDIA/apex.git
[submodule "vqa-maskrcnn-benchmark"]
	path = vqa-maskrcnn-benchmark
	url = https://gitlab.com/vedanuj/vqa-maskrcnn-benchmark.git
[submodule "vqa-maskrcnn-benchmark/cocoapi"]
	path = vqa-maskrcnn-benchmark/cocoapi
	url = https://github.com/cocodataset/cocoapi.git

